.projectCard {
  height: 20em;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 1em;
  overflow: hiddenper;
}
.cardContainer {
  margin: auto;
  max-height: 22em;
  max-width: 28em;
  padding: 1em;
  background-color: rgba(26, 148, 142, 0.4);
  border-radius: 12px;
  margin-bottom: 3em;
}
.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 1em 0;
}
#projectDetail {
  width: 100%;
  display: grid;
}
.cardDetail {
  margin-top: 2em;
}
.cardDetail p {
  text-align: center;
  font-weight: 400;
  color: white;
  margin-top: 0.7em;
}
.tech__print {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3em;
  gap: 0.5em;
  margin: 1em;
}
.fa-brands {
  display: flex;
  align-items: center;
}
.iconos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 2em;
  margin: 1em 2em 0;
  gap: 2em;
  max-width: 95vw;
}
.eachIcon {
  text-align: center;
  margin: 0 0 0.3em 0;
}
h4 {
  text-align: center;
  margin: 1em 0;
  color: white;
}
.card__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageDetail {
  height: 16em;
  width: 20em;
  margin: 1em;
  border-radius: 15px;
}
.fa-square-js {
  color: #f0db4f;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-html5 {
  color: #e34c26;
}

.fa-node {
  color: #68a063;
}
.fa-react {
  color: #61dbfb;
}

.fa-bootstrap {
  color: #815eb6;
}

.fa-envira {
  color: #4db33d;
}

.editBack {
  width: 2em;
  margin: auto;
  margin-top: 1em;
}
.link__repo {
  text-decoration: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  gap: 0.3em;
  margin: 0.7em auto;
  padding: 0.4em 1em;
  background-color: black;
  color: white;
  max-width: 8em;
  border-radius: 8px;
}
.code__error {
  width: auto;
  height: 3em;
  margin: auto;
}
.card__link__p {
  margin-top: 1em;
}
.card__link {
  text-decoration: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  opacity: 0;
  transition: 0.4s;
  display: flex;
  gap: 0.3em;
  margin: 0.7em auto;
  padding: 0.3em 0.8em;
  background-color: black;
  color: white;
  max-width: 8em;
  border-radius: 8px;
}

.card__project::after {
  content: "+ info";
  opacity: 0;
  transition: 0.4s;
  margin: 0 auto;
  background-color: #61dbfb;
  padding: 0.3em 0.8em;
  max-width: 8em;
  border-radius: 8px;
}
.share__message {
  position: absolute;
  top: 4em;
  color: white;
  background-color: black;
  padding: 0.3em 0.8em;
  border-radius: 8px;
  transition: 0.5s;
  opacity: 0;
}
.opacity {
  opacity: 1;
}

@media (hover: none) {
  .projectCard .card__project::after,
  .projectCard .card__link {
    opacity: 1;
  }
  .projectCard {
    border-inline: solid;
    border-radius: 12px;
  }
}

@media (orientation: landscape) and (max-wid: 40em) {
  .cardContainer {
    max-width: 30em;
  }
}

@media (min-width: 60rem) {
  .imageDetail {
    height: 25em;
    width: auto;
    margin: auto;
  }
  .cardDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    max-width: 95vw;
    margin: 0 5em;
  }
  .card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .card__body {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .tech__print {
    gap: 1.5em;
  }
  .truncate {
    padding: 0 1.3em;
  }
  .share__message {
    top: 5em;
  }
  .cardDetail p {
    margin: 0.7em auto;
    max-width: 35em;
  }
}
