.projectCard {
	height: 20em;
	max-width: 22em;
	transition: 0.6s;
	text-align: center;
	transition: 0.3s;
	color: #d6f7dc;
}
.truncate {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	margin-top: 2em;
}
#projectDetail {
	width: 100vw;
	display: grid;
}
.CardDetail p {
	text-align: center;
	font-weight: 400;
	color: #D6F7DC
}
.tech__print {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 3em;
	gap: 0.5em;
	margin: 1em;
}
.fa-brands {
	display: flex;
	align-items: center;
}
.iconos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 2em;
	margin-top: 1em;
	gap:2em;
}
.eachIcon {
	text-align: center;
	margin: 0 0 0.3em 0;
}
h4 {
	text-align: center;
	margin: 1em 0;
}
.card__img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.imageDetail {
	height: 16em;
	width: 20em;
	margin: 1em;
}
.fa-square-js {
	color: #f0db4f;
}

.fa-css3-alt {
	color: #264de4;
}

.fa-html5 {
	color: #e34c26;
}

.fa-node {
	color: #68a063;
}
.fa-react {
	color: #61dbfb;
}

.fa-bootstrap {
	color: #815eb6;
}

.fa-envira {
	color: #4db33d;
}

.editBack {
	width: 2em;
	margin: auto;
	margin-top: 1em;
}
.link__repo {
	text-decoration: none;
	color: #D6F7DC;
	font-weight: 600;
}
@media (min-width: 60rem) {
	.imageDetail {
		height: 25em;
		width: auto;
		margin: auto;
	}
	.CardDetail {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;
	}
	.card__img {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.tech__print {
		gap: 1.5em;
	}
}
