.background {
  margin: 0 2em;
  border-bottom: solid 1px #6c63ff;
  max-width: 95vw;
  border-top: none;
  border-radius: 12px;
}
.navbar__display {
  display: flex;
  justify-content: space-between;
}
.about__me,
.newProject,
.nav-link {
  color: antiquewhite;
  cursor: pointer;
}
.nav-link {
  display: flex;
  gap: 0.3em;
}
.navbar-nav li {
  margin: 0.2em 0.5em;
  font-size: 1.2em;
  font-weight: 300;
}
.navbar-nav li p {
  margin: auto;
}
.linkedIn {
  margin-right: 45px;
}
span {
  font-weight: 500;
}
#navbar__togg {
  border: none;
  box-shadow: none;
}
