body {
	background-color: #333070;
	background-image: url(https://res.cloudinary.com/dbld4vcec/image/upload/v1680017466/projects/alex-padurariu-tXYg4Zx7kSU-unsplash_pjlitu.jpg);
	color: #d6f7dc;
	background-blend-mode: multiply;
	background-size: cover;
	min-height: 100vh;
	position: relative;
	padding-bottom: 3.4em;
}

.alertImagen {
	height: 1.2em;
}

.app {
	display: grid;
	grid-auto-flow: row;
	gap: 1em;
	margin: 2em 2em 0 2em;
}
.projectDetail {
	margin: auto;
	display: flex;
	justify-content: center;
	width: 90vw;
	min-height: 85vh;
}

#newProject {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	width: auto;
	padding: 2em;
	gap: 2em;
	color: #6c63ff;
}
.btn {
	background-color: #6c63ff;
	font-weight: 500;
	max-width: 200px;
	transition: 0.8s;
}
.btn:hover {
	background-color: #f7d6dc;
}

.modal {
	color: black;
}

.modal__btn {
	background-color: white;
	border: none;
}

.tech__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.cardDetail {
	width: 40em;
	height: 35em;
}

.cardDetail > div {
	margin: 1em 1em 0 1em;
	padding: 0;
}
.navbar-nav {
	margin-top: 1em;
}

@media (min-width: 60rem) {
	.app {
		grid-template-columns: repeat(2, 1fr);
	}
	#newProject {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: auto;
		padding: 2em;
		gap: 2em;
		color: #6c63ff;
	}
	.projectCard {
		max-width: 28em;
		margin: auto;
		opacity: 1;
	}
	
	.testHover:not(.projectCard:hover) > :not(:hover) {
		opacity: 0.6;
	}
	/* .projectCard > :not(:hover) {
		opacity: 0.5;
	} */
	.navbar-nav {
		margin-top: auto;
	}
	.form__input {
		width: 28em;
	}
}
@media (min-width: 88rem) {
	.app {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 100rem) {
	.app {
		grid-template-columns: repeat(3, 1fr);
	}
}
