 body {
	background-image: url(https://res.cloudinary.com/dbld4vcec/image/upload/v1680017466/projects/alex-padurariu-tXYg4Zx7kSU-unsplash_pjlitu.jpg);
	color: #D6F7DC; 
	/* background-repeat: no-repeat; */
	background-size: cover;
}
 
.nav-link {
	font-weight: 500;
}

.background {
	margin-inline: auto;
	border: solid 2px #FF6C7F;
	max-width: 90%;
	border-top: none;
}

.navbar__display {
	display: flex;
	justify-content: space-between;
}

.navbar-brand,
.newProject,
.nav-link {
	color: #D6F7DC;
}

.navbar-brand:hover,
.newProject:hover,
.nav-link:hover {
	color: #D6F7DC;
	text-shadow: 0 5px 15px #FF6C7F;
}

.linkedIn {
	margin-right: 45px;
}
.alertImagen {
	height: 1.2em;
}
.app {
	display: grid;
	grid-auto-flow: row;
	gap: 1em;
	margin: 2em 2em 0 2em;
}

.projectCard{
	height: 25em;
	max-width: 22em;
	transition: .3s ;
	text-align: center;
}

.projectCard:hover {
	text-shadow: 0 5px 15px #FF6C7F;
}

.projectDetail {
	margin: 5em 1em 1em 1em;
	display: flex;
	justify-content: center;
}

#newProject {
 	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: auto;
	padding: 2em;
	gap: 2em;
	color: #6C63FF;
}
.btn {
	background-color: #6C63FF;
	font-weight: 500;
	max-width: 200px;
	transition: .8s;
}
.btn:hover {
	background-color: #F7D6DC;
}

.modal {
	color: black
}

.modal__btn {
	background-color: white;
	border: none;
}

.tech__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tech__print {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: .5em;
}

.cardDetail {
  width: 40em;
  height: 35em;
  
}

.cardDetail > div {
	margin: 1em 1em 0 1em;
	padding: 0;
}

.imageDetail {
	height: 20em;
	width: auto;
	margin: 0 1em 1em 1em;
	background-color: red;
}

.iconos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.eachIcon {
	text-align: center;
}

.text-truncate {
	max-width: 450px;

}

@media (min-width: 60rem) {
	.app {
		grid-template-columns: repeat(2, 1fr);
	}
	.projectCard {
		max-width: 28em;
	}
}
@media (min-width: 88rem) {
	.app {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 100rem) {
	.app {
		grid-template-columns: repeat(3, 1fr);
	}
}