body {
  background-color: #333070;
  background-image: url(https://res.cloudinary.com/dbld4vcec/image/upload/v1680017466/projects/alex-padurariu-tXYg4Zx7kSU-unsplash_pjlitu.jpg);
  color: antiquewhite;
  background-blend-mode: multiply;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  padding-bottom: 3.4em;
}
.alertImagen {
  height: 1.2em;
}
h2 {
  font-size: 1.6em;
  font-weight: 200;
}
h5, h1 {
  font-weight: 200;
  text-align: center;
}
.app {
  display: grid;
  grid-auto-flow: row;
  margin: 2em;
}
.projectDetail {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
}
#newProject {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: auto;
  padding: 2em;
  gap: 2em;
  color: #6c63ff;
}
.btn {
  background-color: #6c63ff;
  font-weight: 500;
  max-width: 200px;
  transition: 0.8s;
}
.btn:hover {
  background-color: #f7d6dc;
}

.modal {
  color: black;
}
.modal__btn {
  background-color: antiquewhite;
  border: none;
}
.tech__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-nav {
  margin-top: 1em;
}
.projectCard:hover {
  border-inline: solid 1px #6c63ff;
  border-radius: 12px;
}
.projectCard:hover .card__project::after,
.projectCard:hover .card__link {
  opacity: 1;
}
.button__style {
  opacity: 0;
}
.header {
  max-width: 16em;
  display: flex;
  flex-direction: column;
  margin: 1em auto 0;
  gap: .5em
}

@media (orientation:landscape) and (max-width: 48em)  {
  .header {
    max-width: 28em;
  }
}

@media (min-width: 60rem) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
  #newProject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 2em;
    gap: 2em;
    color: #6c63ff;
  }
  .projectCard {
    margin: auto;
  }

  .navbar-nav {
    margin-top: auto;
  }
  .form__input {
    width: 28em;
  }
  .header {
    max-width: 35em;
    margin: 2em auto 0;
    gap: 2em
  }
  /*   .button__style {
    opacity: 1;
    height: 1.5em;
    max-width: 95vw;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } */
}
@media (min-width: 88rem) {
  .app {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}
@media (min-width: 100rem) {
  .app {
    grid-template-columns: repeat(3, 1fr);
  }
}
